body {
  background-color: #000000;
  color: green;
  font-family: monospace;
  font-size: 2em;
}

table {
  width: 100%;
}

td {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#leaderboard td {
  font-size: 0.5em;
  border: 1px solid green;
  text-align: center;
}

.challenge {
  text-align: center;
  margin: 0.1em;
  padding: 0.1em;
  text-decoration: none;
  color: black;
  background-color: green;
  font-size: 0.75em;
  width: 15em;
}

.challenge:hover {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

input, select, button {
  width: 100%;
  border: 1px solid green;
  background-color: #000000;
  color: green;
  font-family: monospace;
  text-align: center;
}

#result {
  display: none;
  background-color: green;
  color: black;
  text-align: center;
  margin: 0.5em;
}
