<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/master.css">

    <title>nditc ctf challenge!</title>
  </head>
  <body>
    <div class="navbar flex-column">
      <h1>nditc.init("ctf")</h1>
      <h1>=================</h1>
    </div>
    <div class="container">
      <p>
        Here are the challenges!
      </p>
      <br>
      <p>
        If you think you solved one, try your luck <a href="/submit">here</a> <br>
        To check who else is here, check out <a href="/leaderboard">here</a>
      </p>
      <br>
      <p>GL HF</p>

      <div id='problemset' class='d-flex flex-row flex-wrap'>
        {% for challenge, url in challenges.items() %}
        <a class='challenge' href="{{ url }}">{{ challenge }}</a>
        {% endfor %}
      </div>
    </div>

    <script src="static/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="/static/script.js" charset="utf-8"></script>
  </body>
</html>
