<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/master.css">

    <title>nditc ctf challenge!</title>
  </head>
  <body>
    <div class="navbar flex-column">
      <h1>nditc.init("ctf")</h1>
      <h1>=================</h1>
    </div>
    <div class="container">
      <p>
        Look who else is here!
      </p>
      <table id='leaderboard'>
        <tr>
          <td>email</td>
        {% for challenge in challenges %}
          <td>{{ challenge }}</td>
        {% endfor %}
        </tr>
        {% for solver, checklist in board.items() %}
        <tr>
          <td> {{ solver }} </td>
          {% for check in checklist %}
            <td>{% if check %}X{% endif%}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
    </div>

    <script src="static/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="/static/script.js" charset="utf-8"></script>
  </body>
</html>
