<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/master.css">

    <title>nditc ctf challenge!</title>
  </head>
  <body>
    <div class="navbar flex-column">
      <h1>nditc.init("ctf")</h1>
      <h1>=================</h1>
    </div>
    <div class="container">
      <p>
        Hey! Want to submit a flag?
      </p>
      <div>
        <table>
          <tr>
            <td> email </td>
            <td><input type="text" placeholder="be sure to double check it!" id="email"></td>
          </tr>
          <tr>
            <td> challenge </td>
            <td>
              <select id="challenge">
                {% for challenge in challenges %}
                <option value='{{ challenge }}'>{{ challenge }}</option>
                {% endfor %}
              </select>
            </td>
          </tr>
          <tr>
            <td> flag </td>
            <td><input type="text" id="flag"></td>
          </tr>
        </table>
        <button id='submit'>Submit</button>
        
        <p id='result'></p>
      </div>        
    </div>

    <script src="static/jquery-3.3.1.min.js" charset="utf-8"></script>
    <script src="/static/script.js" charset="utf-8"></script>
  </body>
</html>
